<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <center>
        <img src="assets/logo.png" style="height: 50px;">
      </center>
    </ion-title>
    <ion-buttons slot="end" (click)="goBack()">
      <ion-button id="changeText">
        <ion-icon  size="large" name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-text>
        <ion-label text-wrap color="primary">
          <h2>{{titleCategory}}</h2>
        </ion-label>
      </ion-text>
    </ion-item>
    
    <ion-item button *ngFor="let item of documentsPDFResutl" (click)="openPDFLocal(item.namenew)">
      <ion-avatar>
        <img src="assets/pdf.png">
      </ion-avatar>
      <ion-label text-wrap>
        <h3>{{ item.name}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
